flows.json
[{"id":"c97df843211e3866","type":"ha-webhook","z":"1c0945f0e1f1e5a6","name":"","server":"990733ed.80a67","version":1,"outputs":1,"webhookId":"uBUmOoVC9I4KQoOkgdXeSMZZVs6qMvDC","outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":140,"y":640,"wires":[["af3e40bed73290ed"]]},{"id":"af3e40bed73290ed","type":"json","z":"1c0945f0e1f1e5a6","name":"","property":"payload","action":"","pretty":false,"x":270,"y":640,"wires":[["daa99bceec877e62","746ea78015182d0c"]]},{"id":"d355ccb8c9d89eca","type":"ha-get-entities","z":"1c0945f0e1f1e5a6","name":"","server":"990733ed.80a67","version":0,"rules":[{"property":"attributes.friendly_name","logic":"includes","value":"payload.utterance","valueType":"msg"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload.entities","output_results_count":1,"x":950,"y":640,"wires":[["1b636a9e6e34aff9"]]},{"id":"d66941531d932f1b","type":"function","z":"1c0945f0e1f1e5a6","name":"utterance fix","func":"var utterance = msg.payload.utterance;\n\nutterance = utterance.replace('the ','');\nutterance = utterance.trim();\nutterance = utterance.charAt(0).toUpperCase() + utterance.slice(1);\n//Special occurences\nutterance = utterance.replace(/tv/gi, 'TV')\nutterance = utterance.replace(/wled/gi, 'WLED')\nutterance = utterance.replace(/pc/gi, 'PC')\nutterance = utterance.replace(/nightlight/gi, 'Night light')\n\n\nmsg.payload.utterance = utterance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":640,"wires":[["d355ccb8c9d89eca","486e4cf07b6633f3"]]},{"id":"4510305aa08e5181","type":"comment","z":"1c0945f0e1f1e5a6","name":"","info":"Converts words that indicate durations into a numeric duration.\n\nThe duration is resolved to a format based on the ISO-8601 duration format, PnYnMnWnDTnHnMnS. The P indicates that this is a duration, the n is a numeric value, and the capital letter following the n is the specific date or time element. For example, P3D means 3 days. A T is used to indicate that the remaining values represent time elements rather than date elements.\n\nExamples:\n\n\"ten minutes\": PT10M\n\n\"five hours\": PT5H\n\n\"three days\": P3D\n\n\"forty five seconds\": PT45S\n\n\"eight weeks\": P8W\n\n\"seven years\": P7Y\n\n\"five hours ten minutes\": PT5H10M\n\n\"two years three hours ten minutes\": P2YT3H10M","x":140,"y":600,"wires":[]},{"id":"bf7cf8af24bc0324","type":"delay","z":"1c0945f0e1f1e5a6","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":500,"y":760,"wires":[["49f1c0e4f065e2b3"]]},{"id":"cd93ec12c8588ee4","type":"api-call-service","z":"1c0945f0e1f1e5a6","name":"","server":"990733ed.80a67","version":5,"debugenabled":false,"domain":"{{payload.domain}}","service":"{{payload.intent}}","areaId":[],"deviceId":[],"entityId":["{{payload.entity}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":840,"wires":[["a6918edf0ac28cfd"]]},{"id":"1b636a9e6e34aff9","type":"function","z":"1c0945f0e1f1e5a6","name":"request generator","func":"//Set default domain\n\nmsg.payload.domain = \"homeassistant\";\n\n//INTENT\nif (msg.payload.intent == \"turn off\")\n{\n    msg.payload.intent = \"turn_off\";\n}\nelse if (msg.payload.intent == \"turn on\")\n{\n      msg.payload.intent = \"turn_on\";\n}\nelse if ((msg.payload.utterance.includes(\"AC\") || msg.payload.utterance.includes(\"air conditioner\")) && msg.payload.intent.includes(\"set\")) {\n    msg.payload.intent = \"set_temperature\";\n    msg.payload.domain = \"climate\";\n    msg.payload.temperature = msg.payload.number;\n}\n\n//TIME\n//Seconds+Minutes to milliseconds\n//For some reason, getduration returns minutes sometimes and hours sometimes\nmsg.delay = getDuration(msg.payload.time);\n//node.warn(msg.delay);\nif (msg.payload.time.includes(\"S\"))\n{\n    msg.delay = msg.delay * 1000;\n}\nelse if (msg.payload.time.includes(\"M\"))\n{\n     msg.delay = msg.delay * 60000;\n}\nelse if (msg.payload.time.includes(\"H\"))\n{\n     msg.delay = msg.delay * 3600000;\n}\n\n//SELECT ONLY 1 ENTITY\nif (msg.payload.entities.length > 1)\n{\n    //msg.payload.entity = {};\n    for (var i = 0; i < msg.payload.entities.length; i++)\n    {\n        if (msg.payload.entities[i].attributes.friendly_name.length == msg.payload.utterance.length)\n        {\n            msg.payload.entity=msg.payload.entities[i].entity_id;\n        }\n    }\n}\nelse\n{\n    msg.payload.entity=msg.payload.entities[0].entity_id;\n}\n\n\n//INTENT FIX FOR SPECIAL CASES AND DOMAINS\nif (msg.payload.entity.includes(\"vacuum.\") == true)\n{\n        msg.payload.domain = \"vacuum\";\n        if (msg.payload.intent == \"turn_off\")\n        {\n            msg.payload.intent = \"stop\";\n        }\n        else if (msg.payload.intent == \"turn_on\")\n        {\n              msg.payload.intent = \"start\";\n\n        }\n}\n\n\n//TRANSLATE AMAZON DURATION TO MINUTES\nfunction getDuration(amazon_duration) {\n    let timelist = amazon_duration.match(/([S]?\\d+)/gim);\n    //node.warn(timelist);\n    let duration = 0;\n    if (timelist.length === 1) {\n        duration = parseInt(timelist[0]) * 1;\n    } else if (timelist.length === 2) {\n        duration = (parseInt(timelist[0]) * 60) + (parseInt(timelist[1]) * 1);\n    } else if (timelist.length === 3) {\n        duration = (parseInt(timelist[0]) * 60 * 60) + (parseInt(timelist[1]) * 60) + (parseInt(timelist[2]) * 1);\n    }\n    //node.warn(duration);\n    return duration;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":760,"wires":[["bf7cf8af24bc0324","c1cd7a711eb96382"]]},{"id":"77cbaff015423fae","type":"switch","z":"1c0945f0e1f1e5a6","name":"","property":"reset","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":640,"wires":[["bf7cf8af24bc0324"],["d66941531d932f1b"]]},{"id":"daa99bceec877e62","type":"function","z":"1c0945f0e1f1e5a6","name":"cancel check","func":"if (msg.payload.intent == \"null\" && msg.payload.utterance == \"null\" && msg.payload.time == \"null\")\n{\n    msg.reset = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":640,"wires":[["77cbaff015423fae"]]},{"id":"d257693f2f29fd5a","type":"api-call-service","z":"1c0945f0e1f1e5a6","name":"","server":"990733ed.80a67","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["{{payload.entity}}"],"data":" {\"temperature\": {{payload.temperature}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":760,"wires":[["d56db3653b60d52a"]]},{"id":"49f1c0e4f065e2b3","type":"switch","z":"1c0945f0e1f1e5a6","name":"","property":"payload.intent","propertyType":"msg","rules":[{"t":"cont","v":"set","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":760,"wires":[["d257693f2f29fd5a"],["cd93ec12c8588ee4"]]},{"id":"a6918edf0ac28cfd","type":"debug","z":"1c0945f0e1f1e5a6","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":840,"wires":[]},{"id":"c1cd7a711eb96382","type":"debug","z":"1c0945f0e1f1e5a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":800,"wires":[]},{"id":"75c6496dadf9e392","type":"inject","z":"1c0945f0e1f1e5a6","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"intent\":\"set\",\"utterance\":\"the office AC\",\"number\":\"22\",\"connector\":\"in\",\"time\":\"PT1M\"}","payloadType":"str","x":150,"y":540,"wires":[["af3e40bed73290ed"]]},{"id":"486e4cf07b6633f3","type":"debug","z":"1c0945f0e1f1e5a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":600,"wires":[]},{"id":"746ea78015182d0c","type":"debug","z":"1c0945f0e1f1e5a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":600,"wires":[]},{"id":"d56db3653b60d52a","type":"debug","z":"1c0945f0e1f1e5a6","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1280,"y":760,"wires":[]},{"id":"990733ed.80a67","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]